body {
    overflow: hidden;
}

/* .container-fluid{
    max-width: 1280px;
} */

h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: #212529;
    color: #ffc107;
    padding: 0;
    margin: 0;
    line-height: 70px;
}

#input1 {
    font-size: 30px;
    display: block;
    width: 100%;
    min-height: 100px;
    margin-top:10px;
    word-break: break-all;
}

.resultsection {
    width: 100%;
    height: calc(100vh - 370px);
    overflow: auto;
    background-color: #f5f5f5;
    position: relative;
}

#resultTxt {
/*     position: absolute; */
    bottom: 0;
    text-align: right;
    font-size: 100px;
    /* right: 0; */
    padding: 10px 0;
    margin: 0;
}

.tablesection{
    position: absolute;
    bottom: 0;
    margin: 0;
}

.form-control {
    font-size: 40px;
    border: none;
    background-color: transparent;
}

.btn {
    width: 100%;
    border-radius: 0;
    border: 0;
    height: auto;
    font-size: 25px;
}

.btn-check:focus+.btn-outline-secondary,
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.25rem rgb(108 117 125 / 0%);
}

.btn-check:active+.btn-outline-secondary, .btn-check:checked+.btn-outline-secondary, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show, .btn-outline-secondary:active {
    color: #111;
    background-color: #fff;
    border-color: #fff;
}

table {
    text-align: center;
}

.table tr td {
    padding: 5px;
}

.table tr:first-child td .btn{
    padding: 5px;
    color: #ffc107;
}

.table tr td:last-child .btn {
    padding: 5px;
    color: #ffc107;
}
